body {
  margin: 0 auto auto auto;
  text-align: center;
  background-color: #FDFCE5;
    font-family: 'Bellefair', serif;
}

h1 {
  font-family: 'Bellefair', serif;
}

h2 {
  font-family: 'Bellefair', serif;
}

h3 {
  font-family: 'Bellefair', sans-serif;
  font-size: 2.5rem;
  text-align: right;
  padding-bottom: 30px;
}

hr {
  border: dotted 6px;
  border-bottom: none;
  width: 5%;
  color: grey;
  margin: 100px auto;
}

p {
  font-family: sans-serif;
  font-size: 140%;
  text-align: right;
}

/* navbar */

.navbar-nav{
  margin-right: 35%;
}

.navbar-brand{
  font-size: 1.5rem;
}

.nav-link{
  margin-left: 35px;
  font-size: 1.5rem;
}

#imgtopdiv {
  height: 170px;
}

.h3-mid{
  text-align: center;
}

.p-mid{
  text-align: center;
}

.p-mid2{
  text-align: center;
}

/* top */
.first-h1 {
  text-align: right;
  margin-right: 8%;
  font-size: 7rem;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px black;
}

.first-h2 {
text-align: right;
margin-right: 8%;
font-size: 3.5rem;
  color: white;
text-shadow: 1.5px 1.5px 1.5px black;
}

.second-h2 {
  font-size: 4rem;
}
/*
.imgtop1 {
  height: 80%;
  width: 20%;
  position: absolute;
  right: 100px;
  top: 50px;
  margin: 0px;
  border-radius:10px;
} */

.imgtop2 {
  height: 80%;
  width: 20%;
  position: absolute;
  left: 14%;
  top: 10%;
  border-radius:10px;
}



.TOP {
  background-color: #EFBBCF;
  position: relative;
  padding: 10px 50px 150px 0;
}

.main-img {
margin: 100px auto 50px auto;
  height: 60%;
  width: 60%;
  position: relative;
  border-radius:10px;
}

.icon-box{
  width: 30%;

}

.icon {
font-size: 4rem;
margin-bottom: 50px;
color:#EFBBCF;
}

.icon:hover {
  color: #FFD5CD;
}

.icon-h3{
  text-align: center;
}

.icon-text{
text-align: center;
}

.middle {
  /* width: 35%; */
  margin: auto;
padding-top: 100px;
  background-color: #FFD5CD;
  height: 250px;
}
#he-circle{
  margin-top: 1.5%;
}


.icon-cicle{

padding-bottom: 0px;

}

.middlelow {
  background-color: #F9F3DF;
  width: 50%;
  padding: 50px;
  margin: auto;
  text-align: center;
  padding-right: auto;
}

.bottom {
  /* width: 50%; */
  text-align: center;
  background-color: #FFD5CD;
  padding: 50px;
}

.img2 {
  height: 75%;
  width: 20%;
  border-radius: 10px;
}

.img3 {
  height: 75%;
  width: 20%;
  border-radius: 10px;
}

.img4 {
  height: 75%;
  width: 20%;
  border-radius: 10px;
}

/* carousel */

#carouselExampleDark{
  background-color: #EFBBCF;
  padding: 70px
}
 .carousel-item {
position: relative;
left: 35%;
height: 64%;
  width: 25%;
  margin: auto;
}

.d-block {
  border-radius: 20px;
}

.howtoplay {
  text-align: center;
  margin: auto;
}

.ask {
  text-align: center;
}

.BUTTON_VPV {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #000000;
  font-family: Brush Script MT;
  font-size: 35px;
  font-weight: 100;
  padding: 10px;
  background-color: #A2CDCD;
  border: solid #FFFFFF 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: auto auto 90px auto;
}

.BUTTON_VPV:hover {
  background: #EFBBCF;
  border: solid #FFFFFF 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.footer {
  background-color: #C3AED6;
  padding: 50px;
}

.facebook {
  height: 80px;
  width: 80px;
}

.contact{
padding-right: 35%;
}

.form{
text-align: right;
padding-right: 33.5%;
font-size: 2rem;
}

.submit-button {
  margin: 15px 145px 0 0;
text-align: center;
}

/* phone */

@media screen and (max-width: 950px){

#imgtopdiv {visibility: hidden;}
.main-img {width: 100%;
height: 100%;}
.icon-box{
  width: 100%;
}
.img2 {
  width: 80%;
  text-align: center;
}
.img3 {
  width: 80%;
}
.img4 {
  width: 80%;
}
.carousel-item{
width: 70%;
left: 13%;
}
.middlelow {
  width: 100%
}
.second-h2{
  font-size: 2.5rem;
}
.icon-text{
  padding-bottom: 15%
}
.form{

  font-size: 2rem;
}
.img2-shatefna{
  width: 500px;
}
.h1-shatefna {
  margin: auto;
}
.form{
  visibility: hidden;
}
.contact{
padding-right: 15px;
margin-bottom: 50px;
}
}

/* contect */
.contact-top{
  background-color: #EFBBCF;
padding: 3%;
}
.contact h2 {text-align: right;
  font-size: 2rem;
  margin-top: 50px;

}

.contact-heb-h1{text-align: center;
font-size: 4rem;
margin-top: 100px;}

form{
  margin-top: 0;

}

.name-contact{
margin-right: 63px;
}

.LastName-contact{
  margin-right: 36px;
}

.email-contact{
  margin-right: 2px;
}

.textarea-contact{
  margin-right: 21px;

}

.submit-button{
margin-right: 270px;
margin-bottom: 100px;
}

/* english */
.en-img-top{
  margin-left: 650px;
  height: 400px;
  border-radius: 20px;

  margin-top: 3%;
}
.en-first-h1{
  margin-left: 20%;
  text-align: left;
  color: white;
  text-shadow: 1.5px 1.5px black;
  font-size: 4.8rem;
  font-weight: 500;
}
  .en-first-h2{margin-left: 20%;
    text-align: left;
    margin-left: 20%;
    color: white;
text-shadow: 1.5px 1.5px black;
font-size: 3rem;
  }

  .en-middlelow{
    margin: auto;
    width: 100%;
    padding: 50px;
    background-color: #F9F3DF;
  }

  .en-h3-midlow{
    text-align: center;
  }

.en-p-midlow{
  text-align: center;
}

.EN-p{margin: auto;
  text-align: center;
}

.col-lg-4{margin: auto;
}


@media screen and (min-width: 950px){
  .EN-p{margin-left: 34%;
    text-align: left;
  }
  .en-p-midlow{
    margin-left: 27%;
      text-align: left;  }
}
#circleicon{
  margin-top: 0;
}

/* שתף נא */

.imgtop2-satefna {
  width: 33%;
  position: relative;
  right: 20%;
  top:15%;
}

.h1-shatefna {
  position: relative;
  right: 70px;
}

/* asimonim */

.h1-asimonim{
  font-size: 5.5rem;

}
.h2-asimonim{
  font-size: 3.5rem;
}
.imgtop2-asimonim{
  width:25%;
  right: 270px;
  top: 20%;
  position: relative;
}

.img2-asimonim{
  width: 70%;
  border-radius: 30px;
}

.middle-asimonim{
  background-color: #EFBBCF;
  padding: 100px;
}

.second-h2-asimonim{
font-size: 3rem;
}

.ask-asimonim{
  text-align:
}
